button { 
    cursor: pointer;
    width: 14rem;
    height: 2.4rem;
    margin-top: 2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    font-family: 'Bungee', sans-serif;;
    font-size: 1.2rem;
    color: var(--textColor);
    box-shadow: var(--boxShadow);
}
button:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
button:active{
    transform: scale(0.9);
    transition: 0.8s;
}

.turn_card_btn{
    background-color: var(--backButtonColor);
}
.show_card_btn{
    background-color: var(--buttonColor);
}