
.card {
    width: 24rem;
    height: 24rem;
    padding: 1.4rem;
    margin: 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: none;
    border-radius: 12px;
    color: var(--textColor);
    background-color: var(--cardColor);
  
    box-shadow: var(--boxShadow);
}
  /* class for an active answer card JS: */
.card_active{
  background-color: var(--answerCardColor);
}


h3{
    font-size: 1.2rem;
}
.question{
    visibility:visible;
/*     visibility: hidden; */
}
.answer{
    visibility:visible;
   /*  visibility: hidden; */
}

.answer_text{
    align-self:center;
}

.question_bookmark{
    align-self: first baseline;
    margin-left: 85%;
    height: 6rem;
}