h3{
    font-size: 1.2rem;
}

.card{
    width: 24rem;
    height: 24rem;
    padding: 1.4rem;
    margin: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
} 

.question, .answer{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 24rem;
    height: 24rem;
    padding: 1.4rem;
    margin: 2.6rem;
    border: none;
    border-radius: 12px;
    text-align:justify;
    color: var(--textColor);
    text-shadow: var(--textShadow);
    box-shadow: var(--boxShadow);
}

/* show hide cards with JS attribute: visibiltiy hidden or visible: */
.question{
    z-index: 2;
    visibility:visible;
   /*  visibility: hidden; */
    background-color: var(--questionCardColor);
}
.answer{
    z-index: 3;
  /*   visibility:visible; */
   /*  visibility: hidden; */
   font-size: 1.4rem;
   background-color: var(--answerCardColor);
}

.answer_text{
    align-self:center;
}

.question_bookmark{
    align-self: first baseline;
    margin-left: 85%;
    height: 6rem;
}

