.form_wrap{
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: 1.5fr 1.5fr 0.25fr 0.25fr;
    gap: 1.4rem;
    height: 26rem;
    width: 42rem;
    padding: 6rem;
    border-radius: 2rem;
    margin-top: 2%;
    padding: 1.4rem;
    background-image: repeating-linear-gradient(
        var(--profileGradient001)5px,
        var(--profileGradient002)10px,
        var(--profileGradient003)15px   
    );
    box-shadow: var(--boxShadow);
}
.question_wrap{
    grid-area: 1/1/1/4;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
}
.answer_wrap{
    grid-area: 2/1/2/4;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
}
.tag_wrap{
    grid-area: 3/1/3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_button_wrap{
    grid-area: 4/1/4/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-button{
    width: 60%;
    height: 55%;
}