/* :::: THE HEADER :::: */
.quiz_title, .bookmark_title, .user_title{
    font-size: 6rem;
    font-weight: bolder;
    text-shadow: var(--headlineShadow);
}

header{
    z-index: 999;
    position: fixed;
    top: 0px;
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    /* default: background-color: var(--mainThemeColor); */
    box-shadow:var(--headerBoxShadow);
    background-image: 
    linear-gradient(
    var(--mainThemeColor) 46%,
     rgba(255, 255, 0, 0.5) 50%, 
    var(--mainThemeColor) 54%
    );
}

.quiz_title, .bookmark_title, .user_title{
    color: var(--textColor);
}
