.quiz_title, .bookmark_title, .user_title{
    font-size: 6rem;
    font-weight: bolder;
    text-shadow: var(--headlineShadow);
}

header{
    z-index: 999;
    position: fixed;
    top: 0px;
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    background-color: var(--mainThemeColor);
    box-shadow:var(--headerBoxShadow);
}
.quiz_title, .bookmark_title, .user_title{
    color: white;
}
