/* :::: ICON bookmark stylesheet :::: */
.bookmarked{
    cursor: pointer;
    border: 2px solid rgba(255, 0, 0, 0.6);
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.2);
    box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.8);
    animation: logg 1s linear forwards;
    transition:all 0.3s;
}

@keyframes logg {
    0%{
        transform: rotate(0deg);
        opacity:0.1;
        filter: blur(2px);
    }
    25%{
        transform: rotate(35deg);
    }
    50%{
        transform: rotate(-35deg);
        opacity: 1;
    }
    75%{
        transform: rotate(35deg);
    }
    100%{
        transform: rotate(0deg);
        filter: blur(0);
    }
}

.question_bookmark{
    cursor: pointer;
    align-self: first baseline;
    margin-left: 85%;
    width: 6rem;
    height: 6rem;
    filter: drop-shadow(2px 3px 2px var(--iconShadow));
    margin-bottom: 3rem;
}
.question_bookmark:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.question_bookmark_footer{
    margin-bottom: 3rem;
    width: 6rem;
    height: 6rem;
    filter: drop-shadow(3px 5px 4px var(--iconShadow));
}