/* :::: ---- MEDIA QUERIES ---- :::: */

@media only screen and (max-width: 620px) {

    .page_wrap{
        margin-top: 4400px; 
    }

    .quiz_title, .bookmark_title, .user_title{
        font-size: 3.4rem;
        font-weight: bold;
        text-shadow: var(--headlineShadow);
    }

    header{
        height: calc(var(--headerHeight) * 1.25 ); 
    }

    footer{
        height: 5rem;
        margin-top: 4%;
        gap: 6%;
    }

    .icon_footer {
        width: 3rem;
        height: 3rem;
    }

    .icon_bookmark, .icon_user, .icon_home{
        margin-bottom: 2.4rem;
        width: 4rem;
        height: 4rem;
    }

    /* :::: user :::: */
    .user_profile_field{
        margin-top: 140px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 0.25fr);
        height: 65%;
        width: 80%;
        padding: 2rem;
        border-radius: 3rem;
    }
    .track_failed, .track_solved, .rated_field, .user_name, .about_heading, .about_text{
        font-size: 1.2rem;
    }
    .user_image{
        grid-area: 1/ 1/ 2/ 1;
        width: 180px;
        height: 180px;
        align-self: center;
    }
    .user_name_wrap {
        grid-area: 2/ 1/ 3/ 1;
        align-self:last baseline;
    }
    .about_user{
        grid-area: 3/ 1/ 4/ 1;
        margin-top: 12px;
        align-self:last baseline;
    }
    .rated_field {
        grid-area: 4/ 1/ 5/ 1;
    }
    .track_solved {
        grid-area: 5/ 1/ 6/ 1;
    }
    .track_failed{
        grid-area: 6/ 1/ 7/ 1;
    }

}


@media only screen and (max-width: 445px) {

    .page_wrap{
        margin-top: 4600px; 
    }

    .quiz_title, .bookmark_title, .user_title{
        font-size: 2.4rem;
        font-weight: bold;
        text-shadow: var(--headlineShadow);
    }

    header{
        width: 100%;
        height: calc(var(--headerHeight) * 1.15 ); 
    }

    footer{
        height: 4rem;
        margin-top: 0%;
        gap: 4%;
    }

    .icon_footer {
        width: 2rem;
        height: 2rem;
    }
    .icon_bookmark, .icon_user, .icon_home{
        margin-bottom: 2rem;
        width: 3rem;
        height: 3rem;
    }

    .container {
        width: 60%;
    }
}

