/* :::: ---- MEDIA QUERIES ---- :::: */

@media only screen and (max-width: 600px) {

    .page_wrap{
        margin-top: 4400px; 
    }

    .quiz_title, .bookmark_title, .user_title{
        font-size: 4rem;
        font-weight: bold;
        text-shadow: var(--headlineShadow);
    }

    header{
        height: calc(var(--headerHeight) * 1.25 ); 
    }

}


@media only screen and (max-width: 445px) {

    .page_wrap{
        margin-top: 4600px; 
    }

    .quiz_title, .bookmark_title, .user_title{
        font-size: 2.4rem;
        font-weight: bold;
        text-shadow: var(--headlineShadow);
    }

    header{
        width: 100%;
        height: calc(var(--headerHeight) * 1.15 ); 
    }

}

