/* :::: # MAIN STYLE :::: */

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
 
:root{
    font-family: 'Bungee', Courier, monospace;
    /* by default: font-family: 'Courier New', Courier, monospace; */
    font-size: 100%;

    /* :::: heights :::: */
    --cardHeight: 24rem;
    --headerHeight: 8rem;

}

/* dark and light modes: */
[data-theme="light"]{

    /* :::: colors :::: */
    --mainThemeColor: rgb(104, 126, 255);
    --mainBackground:rgb(243, 255, 175);
    --buttonColor:rgb(255, 106, 194);
    --backButtonColor: rgb(185, 49, 252);
   /*  --cardColor: ; */
    --textColor: white;
    --footerColor:  rgb(104, 126, 255);
    --containerColor: rgb(255, 249, 217);
    --questionCardColor: rgb(182, 255, 250);
    --answerCardColor:  rgb(152, 228, 255);
    --userBackground: rgb(62, 215, 253);
    --toggleBackground: rgb(108, 108, 235);

    /* :::: shadows :::: */
    --boxShadow: 0rem 0rem 0.8rem rgba(0, 0, 0, 0.6);
    --textShadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    --headlineShadow:  1px 1px 8px rgba(0, 0, 0);
    --headerBoxShadow:  0rem 0rem 1.2rem rgba(0, 0, 0, 0.8);

}
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    background: 
        repeating-linear-gradient(180deg,
        rgb(238, 255, 209) 14.25rem,
        rgb(152, 228, 255) 15rem
    );
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    transform: translateX( -50%, 50%);
}

.page_wrap{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 4200px; 
}

/* these are dummies for the correct spacing of the card area*/
.start_of_card_line, .end_of_card_line{
    width: 24rem;
    height: 24rem;
    padding: 1.4rem;
    margin: 2rem;
}
