
*{margin: 0; padding: 0; box-sizing: border-box;}
 
:root{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    --mainThemeColor: cadetblue;
    --mainBackground:rgb(243, 255, 175);
    --buttonColor: rgb(172, 84, 255);
    --cardColor: rgb(161, 209, 211);
    --textColor: white;
    --footerColor: rgb(152, 255, 187);
    --boxShadow: 0rem 0rem 0.8rem rgba(0, 0, 0, 0.4);
    --containerColor: rgb(255, 249, 217);
}
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    background:var(--mainBackground);
}

.container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100vh;
}

.page_wrap{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 270%;
}
/* these are dummies for the correct spacing of the card area*/
.start_of_card_line, .end_of_card_line{
    width: 24rem;
    height: 24rem;
    padding: 1.4rem;
    margin: 2rem;
}
