

.container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100vh;
}


.page_wrap{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 360%;
}
.end_of_card_line{
    width: 24rem;
    height: 24rem;
    padding: 1.4rem;
    margin: 2rem;
}

h3{
    font-size: 1.4rem;
}

.icon_footer {
    width: 4rem;
    height: 4rem;
}
.icon_footer:hover{
    transform:scale(1.1)
}


footer{
    position: fixed;
    align-self:last baseline;
    width: 100%;
    height: 6.4rem;
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 8%;
    background-color: var(--footerColor);
}

.card {
    width: 24rem;
    height: 24rem;
    padding: 1.4rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: none;
    border-radius: 12px;
    color: var(--textColor);
    background-color: var(--cardColor);
    box-shadow: var(--boxShadow);
}

.answer{
    visibility: hidden;
}

.question_bookmark{
    align-self: first baseline;
    margin-left: 85%;
    height: 6rem;
}

.language_icon{
    z-index: 0;
    /* top | right | bottom | left */
    margin: 12px 4px -15px 4px;
    align-self: last baseline;
    height: 2.4rem;
    opacity: 0.4;
}