/* :::: --USERS-- :::: */
.user_profile_field{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 0.25fr);
    height: 65%;
    width: 65rem;
    padding: 6rem;
    border-radius: 4rem;
    background-color: var(--userBackground);
    box-shadow: var(--boxShadow);
}

.user_image{
    grid-area: 1/ 1/ 2/ 2;
    width: 240px;
    height: 240px;
    border: 12px solid rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
}

.track_failed, .track_solved, .rated_field, .user_name, .about_heading, .about_text{
    font-size: 1.6rem;
    color: var(--textColor);
    text-shadow: var(--textShadow);
}

.user_name{
    font-size: 2rem;
}

.about_heading {
    font-size: 1.8rem;
}

.user_name_wrap {
    grid-area: 3/ 1/ 4/ 2;
    display: flex;
    justify-content: center;
}

.track_solved {
    grid-area: 3/ 3/ 4/ 5;
    align-self:last baseline;
}

.track_failed{
    grid-area: 4/ 3/ 5/ 5;
    align-self:last baseline;
}

.fail_text, .solved_text{
    margin-left: 0.8rem;
}

.about_user{
    grid-area: 1/ 3/ 1/ 5;
    text-align: justify;
}
.about_text{
    margin-top: 1rem;
}

/* :: dark mode toggle :: */
.switch_wrap{
    grid-area: 2/ 3/ 2/ 5;          
	position: relative;
    display: inline-block; 
    font-size: 1.6rem;

    color: var(--textColor);
    text-shadow: var(--textShadow);

    background: slategrey;
    border-radius: 0.45rem;
    padding: 0.6rem;
}
#dark_toggle {
    position: absolute;
    appearance: none;
    cursor: pointer;
    right: 1rem;
    width: 4rem;
    height: 3rem;
    border-radius: 1rem;
    transform: rotate(90deg);
}
#dark_toggle:before {
    content: '';
    position: absolute;
    margin: 0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.4);
}
#dark_toggle::after{
    content: '';
    margin: 0.5rem;
    position: absolute;
    left: 4rem;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 
    0.4rem solid white;
    background-color: rgba(1, 39, 121, 0.9);
    box-shadow: inset 0rem 0rem 0.2rem black;
}
#dark_toggle:checked:before{
    left: 2rem;
}
#dark_toggle:checked:after{
    background-color: white;
}